@tailwind base;
@tailwind components;
@tailwind utilities;
 body {
     background-color: #61dafb;
 }
.marginLeft0 {
    margin-left: 0;
}
.marginLeft375 {
    margin-left: -375px;
}
.marginLeft750{
    margin-left: -750px;
}
::-webkit-scrollbar {
    display: none;
}
